[submodule "modules/interfuze-library-1/1.0.0"]
	path = modules/interfuze-library-1/1.0.0
	url = https://github.com/timdeboer67/interfuze-library-1.git
[submodule "modules/interfuze-library-2/1.0.0"]
	path = modules/interfuze-library-2/1.0.0
	url = https://github.com/timdeboer67/interfuze-libaray-2.git
